.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Home{
  background-color: #61dafb;
  padding: auto;
  height: 700px;
  
  
  
}

.Hi{
  background-color: rgb(23, 10, 43);
  text-align: center;
  color: antiquewhite;
}
.Gaya{
  display: flex;
  gap: 150px; /* Space between the links */
  margin-bottom: 40px;
  background-color: lightblue;
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Center items horizontally */
  text-align: center;
  padding: 10px; /* Add padding for better spacing inside the nav */

}
.TEXT{
  text-align: center;
}